<section class="slyder">
    <div class="container slyder__container">
        <div class="slyder__wallpapers">
            <div class="slyder__wallpaper-1">
                <img src="./images/img/icecream-1.jpg"
                width="1012" height="422" alt="">
            </div>
            <div class="slyder__wallpaper-2">
                <img src="./images/img/icecream-2.jpg"
                width="1012" height="422" alt="">
            </div>
            <div class="slyder__wallpaper-3">
                <img src="./images/img/icecream-3.jpg"
                width="1012" height="422" alt="">
            </div>
        </div>
    </div>
</section>